.initial {
    width: 400px;
    height: 56px;
    border-radius: 12px;
    border: unset;
    margin: 5px;
    padding-left: 30px;
    text-align: left;
    font-size: 1.125rem;
    font-weight: 500;
}

.initial:active {
    transform: scale(0.99);
}

.initial:hover {
    background-color: #F9A826;
    color: white;
}
.initial:focus {
    outline: unset;
}

.default {
    border: 2px solid rgba(96, 102, 208, 0.7);
    background-color: white;
    color: rgba(96, 102, 208, 0.8);
}

.true,
.true:hover {
    background-color: #60BF88;
    color: white;
    border-color: transparent;
}

.false,
.false:hover {
    background-color: #EA8282;
    color: white;
    border-color: transparent;
}