.vector {
    width: 240px;
    margin: -20px auto 0;
}

.header,
.para,
.button {
    text-align: center;
    color: #1D355D;
}

.header {
    margin-top: 70px;
    font-size: 3rem;
    font-weight: bold;
}

.para {
    font-size: 1.125rem;
    font-weight: 400;
}

.counter {
    color: #6FCF97;
    font-size: 2.25rem;
    font-weight: bold;
}

    .low {
        color: #EA8282;
    }

.button {
    font-weight: 600;
    font-size: 1.125rem;

    margin-top: 4.375rem;
    margin-bottom: -35px;
    border-radius: 0.75rem;
    border: 2px solid #1D355D;
    background-color: white;
    padding: 18px 60px;
    align-self: center;

    transition-property: background-color, border-color, color, transform;
    transition-duration: 100ms;
}

.button:hover { /* hover wouldn't work when button is disabled */
	background-color: #F9A826;
	border-color: transparent;
	color: white;
}

.button:active {
    transform: scale(0.99);
}