*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline-offset: 3px;
  outline-color: #4f4f4f;
  -webkit-transition: color .2s;
  transition: color .2s;
}

img {
  max-width: 100%;
}

html {
  padding: 0 11px;
}

body {
  background-color: #fafafa;
  max-width: 583px;
  margin: 0 auto;
}

main {
  margin-top: 32px;
}

h1 {
  font: bold 1.5rem "Playfair Display", serif;
}

h1 + p {
  font: italic 500 0.75rem "Montserrat", sans-serif;
  color: #4f4f4f;
  background: no-repeat 0px 3.5px url(images/icons/6dots.svg);
  padding-left: 24px;
  margin-top: 12px;
  margin-right: 24px;
}

.cheesecake {
  border-radius: 12px;
  margin-top: 25px;
}

.brief-info {
  margin-top: 24px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.brief-info .aside__item:nth-of-type(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.brief-info .aside__item:nth-of-type(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.brief-info .aside__item:nth-of-type(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.brief-info .aside__item:nth-of-type(4) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.brief-info .aside__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brief-info i.material-icons {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #4f4f4f;
  font-size: 1.188rem;
}

.brief-info dl {
  margin-left: .25rem;
}

.brief-info dl dt {
  font: bold 0.5rem "Montserrat", sans-serif;
  color: #bdbdbd;
  text-transform: uppercase;
}

.brief-info dl dd {
  font: 500 0.625rem "Montserrat", sans-serif;
  color: #333333;
}

.brief-info .aside__item:first-of-type i {
  color: #f2994a;
}

.brief-info .aside__item:first-of-type dd {
  color: #f2994a;
}

.wrapper {
  margin-top: 30px;
}

h2 {
  font: bold 1.5rem "Playfair Display", serif;
}

fieldset {
  border: none;
  margin-top: 13px;
  margin-bottom: 2rem;
}

fieldset legend {
  font: italic 1.125rem "Playfair Display", serif;
  margin-bottom: 18px;
}

footer {
  font: 600 0.875rem "Montserrat", sans-serif;
  text-align: center;
  color: #A9A9A9;
  margin: 100px 0 21px;
}

.footer a {
  color: inherit;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.footer a:hover {
  color: #333333;
}

section {
  color: #333333;
}

label > p {
  font: 0.875rem/179% "Montserrat", sans-serif;
}

b {
  font: inherit;
  font-weight: bold;
}

i {
  font-weight: 500;
}

.md_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: .3125rem;
  cursor: pointer;
}

.md_checkbox [type=checkbox] {
  position: absolute;
  opacity: 0;
}

.md_checkbox .md_checkbox__tick {
  position: relative;
}

.md_checkbox .md_checkbox__tick::before {
  content: '';
  display: block;
  margin-right: .8rem;
  height: 1.313rem;
  width: 1.313rem;
  border: .0625rem solid #a9a9a9;
  border-radius: .25rem;
}

.md_checkbox .md_checkbox__tick::after {
  content: url("images/icons/done.svg");
  position: absolute;
  top: .125rem;
  width: 1.313rem;
  text-align: center;
  opacity: 0;
}

.md_checkbox [type=checkbox]:focus + .md_checkbox__tick::before {
  border-color: #4f4f4f;
}

.md_checkbox [type=checkbox]:hover + .md_checkbox__tick::before {
  background-color: rgba(185, 185, 185, 0.5);
  border-color: #4f4f4f;
}

.md_checkbox [type=checkbox]:checked + .md_checkbox__tick::before {
  background-color: #F2994A;
  border-color: #F2994A;
}

.md_checkbox [type=checkbox]:checked:focus + .md_checkbox__tick::before,
.md_checkbox [type=checkbox]:checked:hover + .md_checkbox__tick::before {
  border-color: #4f4f4f;
}

.md_checkbox [type=checkbox]:disabled + .md_checkbox__tick::before {
  background: #828282;
  border-color: #828282;
}

.md_checkbox [type=checkbox]:checked + .md_checkbox__tick::after,
.md_checkbox [type=checkbox]:hover + .md_checkbox__tick::after,
.md_checkbox [type=checkbox]:focus + .md_checkbox__tick::after {
  opacity: 1;
}

.md_checkbox [type=checkbox]:checked ~ p {
  text-decoration: line-through;
  color: #828282;
}

ol {
  list-style: none;
  counter-reset: my-counter;
  margin-top: 28px;
  margin-left: 2px;
}

ol li {
  counter-increment: my-counter;
  margin-bottom: 30px;
  padding-left: 3.188rem;
  font: 1rem/150% "Montserrat", sans-serif;
  position: relative;
}

ol li::before {
  content: counter(my-counter);
  height: 2.25rem;
  width: 2.25rem;
  border-radius: .375rem;
  background: #F2994A;
  font: bold 1.5rem "Playfair Display", serif;
  color: white;
  position: absolute;
  top: .25rem;
  left: 0;
  text-align: center;
}

cite {
  display: block;
  font: italic 0.75rem/150% "Montserrat", sans-serif;
  color: #bdbdbd;
}

cite a,
cite a:visited,
cite a:active {
  color: inherit;
}

cite a:hover {
  color: #333333;
}

@media screen and (min-width: 1024px) {
  body {
    max-width: 970px;
  }
  h1 + p {
    max-width: 616px;
  }
  .cheesecake {
    margin: 43px 0 48px;
    height: 444px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  fieldset {
    margin: 32px 0 38px;
  }
  legend {
    margin-bottom: 30px;
  }
  .brief-info {
    width: 13.5rem;
    height: 22.94rem;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(169, 169, 169, 0.2);
            box-shadow: 0px 0px 20px 3px rgba(169, 169, 169, 0.2);
    border-radius: .75rem;
    margin-top: 0;
    padding: 3.125rem 2.688rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .brief-info i.material-icons {
    font-size: 1.875rem;
  }
  .brief-info dl {
    margin-left: .75rem;
  }
  .brief-info dl dt {
    font-size: .625rem;
  }
  .brief-info dl dd {
    font-size: .875rem;
  }
  .brief-info {
    float: right;
    margin-left: 169px;
  }
  .wrapper {
    display: flow-root;
    margin-top: 0;
  }
  cite {
    margin-top: 50px;
  }
  cite > br {
    display: none;
  }
  h1 {
    font-size: 3rem;
  }
  h1 + p {
    font-size: .875rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  fieldset legend {
    font-size: 1.125rem;
  }
  label > p {
    font-size: 1rem;
    line-height: 156%;
  }
  cite {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */